@import '@lando/vuepress-theme-default-plus/styles/palette';

$electricPink: #DD3F8F;
$galaxyPurple: #794993;
$solarYellow: #EDE650;
$spaceBlack: #261D2D;
$landoGrey: #49424E;
$backgroundGrey: #EEEDEF;
$quotedText: #786F7E;
